[Unit]
Description=job runner
After=scheduler.service
Requires=scheduler.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull debrouwere/jobs
ExecStart=/usr/bin/docker run --name runner-%i --link store:store --rm debrouwere/jobs respond shell job-shell-runner --host store
ExecStartPost=/usr/bin/etcdctl set /jobs/runners/%i ${COREOS_PUBLIC_IPV4}:%i
ExecStop=/usr/bin/docker kill runner-%i
ExecStopPost=/usr/bin/etcdctl rm /pollster/pollers/%i

[X-Fleet]
X-Conflicts=runner-@%i.service